@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Ubuntu&display=swap");

body {
  margin: 0;
  background: rgb(246, 243, 255);
  background: -moz-linear-gradient(
    90deg,
    rgba(246, 243, 255, 1) 0%,
    rgba(206, 158, 243, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(246, 243, 255, 1) 0%,
    rgba(206, 158, 243, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(246, 243, 255, 1) 0%,
    rgba(206, 158, 243, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f6f3ff",endColorstr="#ce9ef3",GradientType=1);
}

p {
  font-family: "Ubuntu";
}

/* Title */
#title {
  text-align: center;
  padding: 2% 15%;
  position: relative;
}

.winner-flag {
  width: 10%;
  display: inline-block;
  position: relative;
  margin-right: 2rem;
}

.title-text {
  display: inline-block;
  position: relative;
  font-size: 3rem;
  font-weight: bolder;
}

.title-text {
  font-family: "Courgette";
}

/* Main */
#main {
  text-align: center;
  padding: 2% 15%;
  position: relative;
}

#main p {
  font-size: x-large;
}

.dice {
  display: inline-block;
  margin: 0 1rem;
}

.main-container img {
  display: inline-block;
}

.btn-dice {
  margin: 2rem auto;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border-radius: 0.5rem;
  background-color: rgb(140, 223, 140);
  display: flex;
  cursor: pointer;
}

/* Footer */
#footer {
  text-align: center;
  padding: 3% 15%;
  position: relative;
  font-size: 0.7rem;
}

#footer a {
  text-decoration: none;
  padding: 0.5rem;
}

a:hover {
  color: rgb(143, 190, 231);
}

#footer i {
  font-size: 1.5rem;
}